.player__button_dropout {
  height: 24px;
  min-width: 24px;
  background-image: url('../../../../images/player/close-button.svg');
  transition: .3s linear;
  margin-top: 0;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 0;
}

.player__button_dropout:hover {
  transform: scale(1.2);
}

.player__button_dropout:focus {
  outline: none;
  transform: scale(1.2);
}

@media (max-width: 500px) {
  .player__button_dropout {
    min-width: 16px;
    height: 16px;
  }
}