.form__input-submit {
  font-family: inherit;
  text-align: center;
  
  max-width: 597px;
  width: 100%;
  height: 60px;

  border-radius: 30px;
  border-width: 2px;

  margin: 85px 0 0;

  background-color: #ffffff;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  
  color: #000000;
}