.player__content-container {
  max-width: 100%;
  width: calc(100% - 80px);
  max-height: 104px;
  margin: 0 auto 30px auto;
  padding-top: 10px;
  overflow: auto;
}

/* width */
.player__content-container::-webkit-scrollbar {
  width: 3px;
}
/* Track */
.player__content-container::-webkit-scrollbar-track {
  background: rgba(243, 243, 243, 0.1)
}
/* Handle */
.player__content-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}
/* Handle on hover */
.player__content-container::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

@media (max-width: 500px) {
  .player__content-container {
    padding: 0;
    width: calc(100% - 48px);
  }
}