.player__button_play {
  background-image: url('../../../../images/player/play-button.svg');
  transition: .3s linear;

  margin-top: 3px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;

  grid-area: player__button_play;
}

.player__button_play:hover {
  transform: scale(1.2);
}

.player__button_play:focus {
  outline: none;
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .player__button_play {
    margin-left: 0;
  }
}