.player__button_play {
  background-image: url('../../../../images/player/play-button.svg');
  transition: .3s linear;
}

.player__button_play:hover {
  transform: scale(1.2);
}

.player__button_play:focus {
  outline: none;
  transform: scale(1.2);
}

.player__button_play:active {
  transform: scale(1);
}