.section__list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  
  color: #000000;

  margin: 22px 0 0;

  max-width: 716px;
}

.section__list-item:first-of-type {
  margin: 0;
}