.footer__copyright {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}