.player_extended {
  max-width: 1233px;
  width: calc(100% - 50px);

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "player__album player__song-container"
    "player__album player__content-container";

  margin: 0 auto 11px auto;
  bottom: 0;

  position: relative;
  transition: .5s linear;
  z-index: 1;
}

@media (max-width: 768px) {
  .player_extended {
    width: calc(100% - 28px);

    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "player__song-container player__song-container"
    "player__album player__content-container";
  }
}

@media (max-width: 600px) {
  .player_extended {
    width: calc(100% - 28px);

    bottom: 100px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "player__song-container player__song-container"
    "player__album player__album"
    "player__content-container player__content-container";
  }
}

@media (max-width: 500px) {
  .player_extended {
    bottom: 0;
  }
}