.player__controller {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .player__controller {
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    align-items: center;
    column-gap: 12px;
    grid-template-columns: 16px minmax(240px, 1fr) 16px;
    grid-template-rows: 1fr 1fr;
  }
}