.header__mobile-cross {
  height: min-content;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: 25px;
  line-height: 22px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 4px 3px;
  transition: .3s linear;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 425px) {
  .header__mobile-checkbox:checked ~ .header__mobile-label .header__mobile-cross {
    visibility: visible;
    opacity: 1;
  }
}