.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: calc(100% - 22px);

  box-sizing: border-box;
  padding: 6px 57px;
  margin: 0;

  background-color: #ffffff;
  border-radius: 10px;
}