.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1260px;
  width: calc(100% - 20px);

  box-sizing: border-box;
  padding: 22px 53px;
  margin: 0;

  background-color: #ffffff;
  border-radius: 10px;
}

@media (max-width: 425px) {
  .main {
    width: calc(100% - 10px);
  }
}