.player__content-title {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1024px) {
  .player__content-title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 600px) {
  .player__content-title {
    font-size: 14px;
    line-height: 19px;
    margin-top: 0;
  }
}