@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1250px;
  width: calc(100% - 30px);

  padding-top: 20px;
  padding-bottom: 20px;
}