.section__list {
  list-style: disc;

  margin: 39px 0 0;
  padding-left: 0;

  max-width: 760px;
}

@media (max-width: 1024px) {
  .section__list {
    max-width: 680px;
  }
}

@media (max-width: 768px) {
  .section__list {
    margin: 31px 0 0;
    max-width: 648px;
  }
}

@media (max-width: 425px) {
  .section__list {
    margin: 31px 0 0;
  }
}