.player_blur {

}

/*.player_blur::before {*/
/*  content: '';*/
/*  position: fixed;*/
/*  background-color: rgba(41, 41, 41, .5);*/
/*  filter: blur(5px);*/
/*  backdrop-filter: blur(5px);*/

/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  z-index: 0;*/

/*  transition: .2s linear;*/
/*  display: none;*/
/*}*/

@media (max-width: 600px) {
  .player_blur::before {
    content: '';
    position: fixed;
    background-color: rgba(41, 41, 41, .5);
    filter: blur(5px);
    backdrop-filter: blur(5px);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    transition: .3s linear;

    /*display: block;*/
  }
}