.player__song-container {
  width: 100%;

  margin-top: 6px;
  margin-bottom: 0;

  display: grid;
  grid-template-columns: 61px 1fr minmax(175px, max-content) 24px;
  gap: 0px 0px;
  grid-area: player__song-container;
  align-items: baseline;
}

@media (max-width: 500px) {
  .player__song-container {
    margin: 0;
    width: 100%;
  }
}