.player__buttons-block {
  display: flex;

  margin: -5px 0 auto auto;

  padding: 0 18px 0 14px;

  grid-area: player__buttons-block;
}

@media (max-width: 600px) {
  .player__buttons-block {
    position: relative;
    top: 260px;
    max-width: 240px;
    width: 100%;

    margin: 21px auto 0 auto;
  }
}