.player__button_clip {
  width: 94px;
  height: 35px;

  background-image: url('../../../../images/player/clip-button.svg');

  /*border: 2px solid #FFFFFF;*/
  /*color: #000;*/
  /*border-radius: 30px;*/
  /*box-sizing: border-box;*/
  /*transition: .3s linear;*/

  margin-right: 12px;
}

.player__button_clip:hover {
  opacity: .7;
}

.player__button_clip:focus {
  outline: none;
  opacity: .7;
}

@media (max-width: 500px) {
  .player__button_clip {
    min-width: 16px;
    height: 16px;
  }
}