.player__album {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 4px;

  width: 176px;
  height: 176px;

  position: relative;
  z-index: 1;

  grid-area: player__album;

  /*transform: scaleY(1);*/
  transform-origin: 0 100%;
  transform: scaleY(1) translateY(0);
  transition: .5s linear;
}

@media (max-width: 1024px) {
  .player__album {
    width: 164px;
    height: 164px;
  }
}

@media (max-width: 768px) {
  .player__album {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 60px;
    width: 112px;
    height: 112px;
  }
}

@media (max-width: 600px) {
  .player__album {
    width: 240px;
    height: 240px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
}