.player__song-duration {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #fff;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 6px;
  padding-right: 0;

  grid-area: player__song-duration;
}

@media (max-width: 1024px) {
  .player__song-duration {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 600px) {
  .player__song-duration {
    font-size: 14px;
    line-height: 19px;
  }
}