@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.form__spinner {
  width: 25px;
  height: 25px;
  margin: 0;
  background: transparent;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-radius: 50%;
  animation: 0.5s spin linear infinite;
}

@media (max-width: 425px) {
  .form__spinner {
    width: 20px;
    height: 20px;
  }  
}