.player__button_stop {
  background-image: url('../../../../images/player/stop-button.svg');
  transition: .3s linear;

  margin-top: 4px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.player__button_stop:hover {
  transform: scale(1.2);
}

.player__button_stop:focus {
  outline: none;
}